* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial';
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em !important;
    overflow: hidden;
}

h5{
    font-weight: 600;
}
.heart-red {
    color: red;
}
/*PAI*/
.carro{
    height: 450px;
    width: 300px;
    background: url(https://images.unsplash.com/photo-1504215680853-026ed2a45def?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80) no-repeat center center/cover;
    margin: auto;
    cursor: pointer;
    max-width: 100%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative; /*Usa no javaScrip offset*/
}
 /*FILHO*/
.bi-heart-fill {
    position: absolute;/*Usa no javaScrip offset*/
    transform: translate(-30%, -30%) scale(0);
  }
